#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* text */
body {
  background-image: url('./images/mc\ wallpaper.jpg');
  background-size: cover;
}

.main-text {
  position: absolute;
  top: 56.204%;
  left: 49.323%;
  width: 27.5%;
  height: 8.333%;
  content: url('./images/text/main-text.png');
  z-index: 20
}


.bg-rect {
  position: absolute;
  top: 5%;
  left: 2.8125%;
  width: 94.375%;
  height: auto;
  content: url('./images/bg-rect.png');
}

/* nav bar */
.nav-bar-about-me { 
  position: absolute;
  top: 11.2963%;
  left: 13.542%;
  width: 8.854167%; 
  height: 15.7407407407%; 
  content: url('./images/button\ bg.png'); 
  z-index: 10;
}

.nav-bar-projects { 
  position: absolute;
  top: 11.2963%;
  left: 35.052%;
  width: 8.854167%; 
  height: 15.7407407407%; 
  content: url('./images/button\ bg.png'); 
  z-index: 10;
}

.nav-bar-work { 
  position: absolute;
  top: 11.2963%;
  left: 56.61%;
  width: 8.854167%; 
  height: 15.7407407407%; 
  content: url('./images/button\ bg.png'); 
  z-index: 10;
}

.nav-bar-links { 
  position: absolute;
  top: 11.2963%;
  left: 78.177%;
  width: 8.854167%; 
  height: 15.7407407407%; 
  content: url('./images/button\ bg.png'); 
  z-index: 10;
}

.about-me-icon {
  position: absolute;
  width: 5.46875%;
  height: 9.7222%;
  top: 14.259%;
  left: 15.15625%;
  content: url('./images/about\ me\ icon.png');
  transition: transform 0.3s ease;
  z-index: 20;
}

.about-me-icon:hover {
  transform: scale(1.1);
}

.projects-icon {
  position: absolute;
  width: 5.46875%;
  height: 9.7222%;
  top: 14.259%;
  left: 36.71875%;
  content: url('./images/projects\ icon.png');
  transition: transform 0.3s ease;
  z-index: 20;
}

.projects-icon:hover {
  transform: scale(1.1);
}

.work-icon {
  position: absolute;
  width: 5.46875%;
  height: 9.7222%;
  top: 14.259%;
  left: 58.28125%;
  content: url('./images/work\ icon.png');
  transition: transform 0.3s ease;
  z-index: 20;
}

.work-icon:hover {
  transform: scale(1.1);
}

.links-icon {
  position: absolute;
  width: 5.46875%;
  height: 9.7222%;
  top: 14.259%;
  left: 79.84375%;
  content: url('./images/links\ icon.png');
  transition: transform 0.3s ease;
  z-index: 20;
}

.links-icon:hover {
  transform: scale(1.1);
}


/* mc character */
.mc-sitting {
  position: absolute;
  width: 17.8125%;
  height: 46.1111%;
  top: 40.185%;
  left: 25.52%;
  content: url('./images/mc-sitting.png');
  z-index: 20;
}


/* misc */

.ni-hao {
  position: absolute;
  width: 15.4167%;
  height: 27.407%;
  top: 43.704%;
  left: 50%;
  content: url('./images/nihao.png');
  z-index: 20;
}