#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* text */
body {
  background-image: url('./images/mc\ wallpaper.jpg');
  background-size: cover;
  z-index: 100;
}

p {
  margin: 0;
}

.nav-bar-text {
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 35px;
  color: #9AA6B2;
  text-align: left;
  z-index: 20;
}

.text {
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 35px;
  color: #9AA6B2;
  text-align: left;
  z-index: 30;
}

.text ul {
  padding-left: 14px;
  margin: 0;
  z-index: 30;
}

.text li {
  margin-bottom: 4px;
  margin: 0;
  z-index: 30;
}

.text a {
  color: #9AA6B2;
  text-decoration: underline;
}

.text a:hover {
  color: #c5d0dc;
}

.main-text {
  position: absolute;
  top: 56.204%;
  left: 49.323%;
  width: 27.5%;
  height: 8.333%;
  content: url('./images/text/main-text.png');
  z-index: 20;
}

.about-me-name-text {
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 48px;
  color: #9AA6B2;
  text-align: left;
  z-index: 30;
}


.about-me-info-text {
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 25px;
  color: #9AA6B2;
  text-align: left;
  z-index: 30;
}


/* bgs */

.bg-rect {
  position: absolute;
  top: 5%;
  left: 2.8125%;
  width: 94.375%;
  height: auto;
  content: url('./images/bg-rect.png');
}

.text-bg {
  position: absolute;
  top: 32.778%;
  left: 4.84375%;
  width: 89.79167%;
  height: auto;
  content: url('./images/text-bg.png');
  z-index: 20;
}

/* nav bar */
.nav-bar-about-me { 
  position: absolute;
  top: 11.2963%;
  left: 23.333%;
  width: 8.854167%; 
  height: 15.7407407407%; 
  content: url('./images/button\ bg.png'); 
  z-index: 10;
}

.nav-bar-projects { 
  position: absolute;
  top: 11.2963%;
  left: 48.333%;
  width: 8.854167%; 
  height: 15.7407407407%; 
  content: url('./images/button\ bg.png'); 
  z-index: 10;
}

.nav-bar-work { 
  position: absolute;
  top: 11.2963%;
  left: 73.333%;
  width: 8.854167%; 
  height: 15.7407407407%; 
  content: url('./images/button\ bg.png'); 
  z-index: 10;
}

.about-me-icon {
  position: absolute;
  width: 5.46875%;
  height: 9.7222%;
  top: 14.259%;
  left: 25%;
  content: url('./images/about\ me\ icon.png');
  transition: transform 0.3s ease;
  z-index: 20;
}

.about-me-icon:hover {
  transform: scale(1.1);
}

.projects-icon {
  position: absolute;
  width: 5.46875%;
  height: 9.7222%;
  top: 14.259%;
  left: 50%;
  content: url('./images/projects\ icon.png');
  transition: transform 0.3s ease;
  z-index: 20;
}

.projects-icon:hover {
  transform: scale(1.1);
}

.work-icon {
  position: absolute;
  width: 5.46875%;
  height: 9.7222%;
  top: 14.259%;
  left: 75%;
  content: url('./images/work\ icon.png');
  transition: transform 0.3s ease;
  z-index: 20;
}

.work-icon:hover {
  transform: scale(1.1);
}

.links-icon:hover {
  transform: scale(1.1);
}


/* mc character */
.mc-sitting { /* app.css */
  position: absolute;
  width: 17.8125%;
  height: 46.1111%;
  top: 40.185%;
  left: 25.52%;
  content: url('./images/mc-sitting.png');
  z-index: 20;
}

.mc-pointing { /* about me */
  position: absolute;
  width: 10.104167%;
  height: 30.185%;
  top: 57.87%;
  left: 48.67%;
  content: url('./images/mc-pointing.png');
  z-index: 30;
  -webkit-transform: scaleX(-1);
}

.mc-siting-pointing { /*projects page*/
  position: absolute;
  width: 13.021%;
  height: auto;
  top: 54.352%;
  left: 78.854%;
  content: url('./images/projects-page/mc-sitting-pointing.png');
  z-index: 30;
}

.mc-walking { /* work page */
  position: absolute;
  width: 9.0625%;
  height: auto;
  top: 59.167%;
  left: 81.8229%;
  content: url('/public/images/mc\ wallpaper.jpg');
  z-index: 30;
  -webkit-transform: scaleX(-1);
}


/* misc */

.ni-hao { /* about me */
  position: absolute;
  width: 15.4167%;
  height: auto;
  top: 43.704%;
  left: 50%;
  content: url('./images/nihao.png');
  z-index: 30;
}

.profile-pic { /* about me */
  position: absolute;
  width: 15.625%;
  height: auto;
  top: 39.074%;
  left: 73.698%;
  content: url('./images/about-me-page/profile-pic.png');
  z-index: 30;
}

.mc-paper { /* about me */
  position: absolute;
  width: 9.895833%;
  height: auto;
  top: 65.926%;
  left: 62.96875%;
  content: url('./images/projects-page/mc-paper.jpg');
  z-index: 30;
}

.resume-text { /* about me */
  position: absolute;
  width: 24.79%;
  height: auto;
  top: 46.1111%;
  left: 41.614583%;
  content: url('./images/projects-page/resume-text.PNG');
  z-index: 30;
}

.robotics-circle-1 { /* work */
  position: absolute;
  width: 11.04167%;
  height: auto;
  top: 66.759%;
  left: 67.135%;
  content: url('./images/work-page/robotics-circle-1.png');
  z-index: 30;
}

.robotics-circle-2 { /* work */
  position: absolute;
  width: 11.04167%;
  height: auto;
  top: 66.759%;
  left: 52.76%;
  content: url('./images/work-page/robotics-circle-2.png');
  z-index: 30;
}

.github-logo {
  position: absolute;
  width: 2.0833%;
  height: auto;
  top: 33.889%;
  left: 91.302%;
  content: url('./images/links/github-logo.png');
  z-index: 30;
}

.linkedin-logo {
  position: absolute;
  width: auto;
  height: 3.704%;
  top: 33.889%;
  left: 88.698%;
  content: url('./images/links/linkedin-logo.png');
  z-index: 30;
}

.gmail-logo {
  position: absolute;
  width: auto;
  height: 3.704%;
  top: 33.889%;
  left: 85.5167%;
  content: url('./images/links/gmail-logo.png');
  z-index: 30;
}